@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');



.landing-page-cintainer {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  scroll-behavior: smooth;
}
.landing-streamline {
  font-size: 39px;
  font-weight: 800;
  margin-top: 38px;
}

.leverage-dealdox {
  letter-spacing: 0.8px;
  font-size: 21px;
  font-weight: 500;
}

.landing-request-demo {
  background: rgb(225, 46, 46);
  border: none;
  color: white;
  font-size: 12px;
  padding: 6px 24px;
  font-weight: 600;
  border-radius: 10px;
  position: relative;
  top: 26px;
}

.landing-div3-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  height: 500px;
  background-image: url(../../../assets/images/cpq-software/WebsiteLandingBg.png);
  background-size: cover;
  background-position: center;
}

.text-container {
  width: 50%;
}

.loading-pre-contents-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-pre-contents {
  font-family: "Arial", sans-serif;
  font-size: 37px;
  font-weight: bold;
  color: #fff;
  width: fit-content;
  margin-right: inherit;
  /* margin: auto; */
  line-height: 39px;
  letter-spacing: 1px;
}

.landing-image-container {
  width: 50%;
}

.landing-image-lefts {
  width: 80%;
  height: 90%;
  margin: 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.landing-image-rights {
  width: 80%;
  height: 90%;
  margin: auto;

  float: inline-end;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.loading-text-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}
.loading-text-container-even {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.loading-text-container-right {
  width: 50%;
  text-align: left;
  float: left;
  display: flex;
  flex-direction: column;
}

.loading-pre-contents-right {
  font-size: 35px;
  color: white;
  line-height: 35px;
  font-weight: 700;
}
.loading-pre-contents-left {
  font-size: 35px;
  color: white;
  line-height: 35px;
  font-weight: 700;
  text-align: end;
}
.cpq-integration {
  width: 100%;
  height: 425px;
}

.built-all-buisness-mains {
  display: flex;
  gap: 40px;
  margin: 14px 0px;
}
.built-all-sub-headings {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 50%;
}
.all-links-div {
  padding: 20px;
}
.built-all-heading-tag {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  width: 100%;
}
.built-all-heading-tags {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.built-in-lines-link {
  color: #444444;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  padding: 0px;
}
.loading-built-center {
  text-align: center;
  padding: 0px 10px;
  font-size: 14px;
}

.dass-pass-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  background: white;
  padding: 4px 0px 29px 0px;
}

.dasspass-image {
  width: 70%;
  height: 250px;
  margin: auto;
  padding: 20px;
}

.landing-desc-right {
  color: white;
}

.landing-small-content {
  text-align: right;
  color: white;
}

.form-image-landing-container {
  display: flex;
  width: 100%;
  background-image: url(../../../assets/images/New-Landing-Images/landingBackground.png);
  align-items: center;
}

.loadingForms {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: #f9f9fd;
}
.loadingDemoImage {
  width: 50%;
}
.landingImageContents {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  height: 500px;
  padding: 10px;
  justify-content: space-around;
}
.loaingDemoForm {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  gap: 10px;
}

.label-input-div {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.loading-label {
  color: black;
}
.formloadingform {
  width: 80%;
  height: 500px;
  background-color: white;
  margin: 37px auto;
  border-radius: 16px;
}
.loading-get-a-free-demo {
  color: black;
  font-size: 22px;
  font-weight: 700;
  padding: 10px 0px 10px 0px;
  width: 80%;
  margin: auto;
}
.loading-privacy-content {
  color: black;
  font-size: 13px;
  margin-bottom: 0px;
}
.laoding-input-field {
  width: 98%;
  border: 0.1px solid #ccc;
  border-radius: 10px;
  padding: 6px;
  font-size: 14px;
  padding-left: 10px;
}
.loading-last-image {
  height: 500px;
  width: 96%;
  border-radius: 10px;
  margin: auto;
}
.loading-submit-button {
  margin: 10px auto;
  width: 88%;
}
.input-submitting-div {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: baseline;
  gap: 4px;
}
.landing-checkbox {
  accent-color: #715cf3;
}
.inside-landing-icon-content {
  display: flex;
  gap: 10px;
  align-items: center;
}
.dashboard-loading {
  width: 100px;
  height: 100px;
}

.landing-image-discover-content {
  font-size: 18px;
  color: #444444;
  font-weight: 500;
  opacity: 0.9;
}

.cpq-integrate-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  margin: 10px;
}





/* New Landing Code */
.div1-header {
  background-image: url(../../../assets/images/New-Landing-Images/landingBackground.png);
  height: 500px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background-position: center;
  margin-top: 81px;
  padding: 10px;
}

.div2-header {
  background-image: url(../../../assets/images/New-Landing-Images/landingBackground.png);
  height: 500px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background-position: center;
  padding: 10px;
 
}
.div3-header {
  background-image: url(../../../assets/images/New-Landing-Images/landingBackground.png);
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background-position: center;
  padding: 10px;
}
.div4-header {
  background-image: url(../../../assets/images/New-Landing-Images/landingBackground.png);
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background-position: center;
  padding: 10px;
  flex-direction: column;
}

.div1-contents{
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.leverage-div1-contents{
  width: 48%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div1-images{
  width: 50%;
  display: flex;
  flex-direction: column;
    height: 100%;

}

.div1-first-content{
  font-size: 34px;
  font-weight: bolder;
  line-height: initial;
  
}
.div1-firsts-content{
  font-size: 34px;
  font-weight: bolder;
  line-height: initial;
  width: 80%;
  margin: auto;
  
}

.landing-new-images{
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

.leaverge-heading-content{
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}
.leaverge-divs{
  display: flex;
  flex-direction: column;
}
.leaverge-heading-main-content{
  font-size: 14px;
}

.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
}

.comparison-table {
  width: 80%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: auto;

}

.comparison-table th,
.comparison-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.comparison-table th {
  background-color: #715cf3;
  color: white;
  font-weight: bold;
}

.comparison-table td {
  background-color: #f9f9f9;
  color: #333;
  font-size: 14px;
  text-align: center;
}

.comparison-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.comparison-table tr:hover {
  background-color: #ddd;
}

.comparison-table th {
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}

.comparison-table th:first-child,
.comparison-table td:first-child {
  text-align: center;
}

.comparing-landing-page{
  text-align: center;
  padding: 10px 0px 30px 0px;
}

.benifits-landing-page{
   display: flex;
   flex-wrap: wrap;
   gap:25px;
}

.benifits-sub-landing-page{
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
   
}

.benifits-landing-image{
  width: 50%;
  height: 50%;
}
.benifits-landing-page-sub-contents{
  text-align: center;
}

.landing-cover-image {
  width: 60px;
  display: flex;
  background: #715cf3;
  height: 60px;
  border-radius: 51px;
  justify-content: center;
  align-items: center;
}

.landing-even-cover-image {
  width: 60px;
  display: flex;
  background: #5c99f3;
  height: 60px;
  border-radius: 51px;
  justify-content: center;
  align-items: center;
}

.highligight-prevent{
  font-weight: bold;
}
.landing-clients-review{
  display: flex;
  height: 350px;
}

.review-content{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.review-image-div{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-image{
  width: 60%;
  margin: auto;
  border-radius: 10px;
}

.review-content-heading{
  font-weight: bold;
  font-size: 19px;

}

.quote-creation-lading-image{
  height: 493px;
  border-radius: 10px;
  margin: 10px;
  width: 88%;
}
.quote-landing-content{
  font-size: 40px;
  font-weight: 800;
  line-height: initial;
  padding: 10px;
  text-align: center;
}

.landing-key-feature-div{
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  margin: auto;
  width: 100%;
  justify-content: center;
  margin: 36px;

}

.landing-key-features{
  width: 430px;
  background-color: #8272e7;
  color: white;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}
.landing-key-features:hover{
  transition: ease-in-out;
  animation-duration: 300s;
  background-color: #715cf3;
}

.quote-faster-win-bigger{
  font-family: "Dancing Script", cursive;
  font-size: 57px;
  font-weight: bold;
}

.landing-questions-div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.landing-qp-ans{
  display: flex;
  flex-direction: column;
}

.landing-qp{
  font-weight: bold;
  font-size: 16px;
  width: 85%;
}




.landing-heading-row>:first-child{
  min-width: 150px;
   position: sticky;
   left: -1px;

}
.landing-heading-row>:nth-child(3){
  min-width: 250px;

}
.landing-heading-row>:nth-child(2){
  min-width: 200px;

}
.landing-headingss>:first-child{
  border-top-left-radius: 10px;
}
.landing-headingss>:last-child{
  border-top-right-radius: 10px;
}

.landing-benifits-headingsss{
  font-size: 28px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;

}
.loading-key-feture-link{
  text-decoration: none;

}

.loading-key-feture-link:hover{
  font-weight: bolder;
  text-decoration: none;
  color: white;
}






@media (max-width: 750px) {
  .text-container {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .landing-image {
    max-width: 100%;
  }
  .built-all-buisness-mains {
    flex-direction: column;
  }
  .built-all-sub-headings {
    width: 100%;
  }
  .built-all-buisness-mains {
    gap: 10px;
  }
  .dasspass-image {
    width: 100%;
  }

  .landing-div3-contents {
    flex-direction: column;
  }

  .landing-image-container {
    width: 100%;
    height: 57%;
  }

  .loading-text-container,
  .loading-text-container-even {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    padding-left: 15px;
    height: 40%;
  }
  .loading-pre-contents-left {
    line-height: 20px;
  }
  .loading-text-container-even {
    order: 1;
    height: 219px;
    align-items: flex-start;
    padding-left: 0px;
    height: 58%;
  }
  .landing-image-lefts {
    margin: 0px;
  }
  .loading-text-container-right {
    width: 100%;
    text-align: right;
    padding-right: 15px;
    height: 42%;
  }
  .loading-pre-contents-right {
    text-align: end;
  }
  .landing-small-content {
    text-align: left;
  }
  .loading-pre-contents-right {
    line-height: 23px;
  }
  .leverage-dealdox {
    letter-spacing: 0px;
    font-size: 14px;
    font-weight: 500;
  }
  .landing-streamline {
    font-size: 31px;
    font-weight: 800;
    margin-top: 38px;
  }
  .built-all-heading-tag {
    font-size: 21px;
  }
  .form-image-landing-container {
    flex-direction: column;
  }
  .loadingForms {
    width: 100%;
  }
  .loadingDemoImage {
    width: 100%;
  }
  .formloadingform {
    width: 91%;
  }
  .loading-last-image {
    height: 204px;
    width: 99%;
    margin: auto;
  }

  .formloadingform {
    margin: 14px auto;
  }
  .input-submitting-div {
    width: 94%;
  }
  .loading-submit-button {
    margin: 10px auto;
    width: 100%;
  }

  .landing-request-demo {
    top: 9px;
  }
  .loading-pre-contents-left {
    text-align: left;
  }

  #generate-quotesss {
    height: 40%;
  }
  #loading-div3-id {
    height: 478px;
  }
  #landing-image-container {
    height: 64%;
}
  #landing-image-rights {
    height: 285px;
    width: 75%;
  }
  .div1-header {
    margin-top: 62px;
  }
  .cpq-integration {
    height: 130px;
  }
  #unique-cpq-integration {
    display: none;
  }
  .all-links-div {
    padding: 0px;
  }
  .built-in-lines-link {
    font-size: 13px;
    padding: 1px;
  }
  .loading-get-a-free-demo {
    width: 95%;

}

.landingImageContents {
  width: 91%;
  margin:  10px auto;
}
#contact-request-mobile{
  top: 0px;
}

/* new queries */

.div1-header,.div2-header {
  flex-direction: column;
  height: auto;
}
.div1-contents {
  width: 90%;
  order: 2;
}
.div1-images {
  width: 85%;
    margin: 10px;
}
.leverage-div1-contents {
  width: 90%;
}
.landing-clients-review {
  flex-direction: column;
  height: auto;
  gap: 10px;
}
.review-content {
  width: 89%;
  margin: auto;
}
.review-image-div {
  width: 95%;
}
.quote-landing-content {
  text-align: center;
  padding: 12px;
  font-size: 28px;
}
.quote-faster-win-bigger {
  margin: 27px 0px;
  font-size: 32px;
}
.quote-creation-lading-image {
  height: 207px;
}
.div1-first-content {
  font-size: 20px;
}
.landing-key-feature-div {
  gap: 35px;
  margin: 1px;
}
.landing-key-features {
  width: 280px;
}
.div1-firsts-content{
  order: 2;
  font-size: 23px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.comparing-landing-page {
  font-size: 22px;
}
.landing-benifits-headingsss {
  font-size: 21px;
}
.review-image {
  width: 80%;
}

.landing-new-images {
  width: 90%;
}
}