.custom-popup-overlays {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: -webkit-fill-available;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.custom-popup-containersss {
  width: 314px;
  height: 187px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position:relative;
}

.custom-popup-footer{
  position:absolute;
  bottom:5px;
  left:8px;
}

.popup-imagess {
  height: 99%;
  width: 99%;
  border-radius: 10px;
  padding: 2px;
}


.popup-icon {
  position: absolute;
  right: 0;
}

.custom-popup-image-div {
 height:100%;
 display:flex;
 flex-direction:column;
}

.custom-content-div {
 position:absolute;
 bottom:10px;
 left:8px;
}

.standard-cpq-integration {
  display: flex;
  gap: 10px;
  width: 100%;
  position: relative;
}

.standard-cpq-content,
.cpq-integration-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.animated-button {
  padding: 3px 10px;
  font-size: 12px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #715cf3, #5c99f3);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: zoomInOut 1s infinite;
}

.popup-icon {
  position: absolute;
  right: 12px;
  font-size: 28px;
  font-weight: 600;
  top: 8px;
  color: white;
}

.animated-button:hover {
  background-color: #0056b3;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.spend-less-time-pricing {
  font-weight: 600;
  text-align: center;
  font-size: 15px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.pricing-you-might {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.optimize-unify-pricing {
  text-align: center;
  font-size: 13px;
}
.picing-standard-heading {
  font-size: 13px;
}

.pricing-generate-cpq {
  font-size: 13px;
}

.standard-cpq-integration::before {
  position: absolute;
  width: 50%;
  transform: translate(50%, -50%);
  border: 0.1px solid #ccc;
}

@media (max-width: 575.98px) {
  .pricing-you-might,
  .picing-standard-heading,
  .spend-less-time-pricing {
    font-size: 13px;
  }
  .optimize-unify-pricing {
    font-size: 12px;
  }

  /* .custom-popup-containersss {
    width: 82%;
    height: 60%;
  } */

  .optimize-unify-pricing,
  .pricing-generate-cpq {
    font-size: 12px !important;
  }
  .standard-cpq-integration {
    align-items: baseline;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  /* .custom-popup-containersss {
    width: 40%;
    height: 74%;
  } */
  .pricing-you-might,
  .picing-standard-heading,
  .spend-less-time-pricing {
    font-size: 13px !important;
  }

  .optimize-unify-pricing,
  .pricing-generate-,
  .optimize-unify-pricing {
    font-size: 11px !important;
  }

  .standard-cpq-integration {
    align-items: baseline;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* .custom-popup-containersss {
    width: 40%;
    height: 74%;
  } */
  .pricing-you-might,
  .picing-standard-heading,
  .spend-less-time-pricing {
    font-size: 14px !important;
  }

  .optimize-unify-pricing,
  .pricing-generate-cpq,
  .optimize-unify-pricing {
    font-size: 13px !important;
  }
}

/* @media (min-width: 992px) and (max-width: 1024px) {
  .custom-popup-containersss {
    width: 30%;
    height: 74%;
  }

  .pricing-you-might,
  .picing-standard-heading,
  .spend-less-time-pricing {
    font-size: 14px !important;
  }

  .optimize-unify-pricing,
  .pricing-generate-cpq,
  .optimize-unify-pricing {
    font-size: 13px !important;
  }
} */

@media (min-width: 1200px) {
  /* .custom-popup-containersss {
    width: 30%;
    height: 58%;
  } */
}

/* @media (max-width: 2560px) {
  .custom-popup-containersss {
    width: 30%;
    height: 60%;
  }
  .pricing-you-might,
  .picing-standard-heading,
  .spend-less-time-pricing {
    font-size: 18px !important;
  }

  .optimize-unify-pricing,
  .pricing-generate-,
  .optimize-unify-pricing {
    font-size: 15px !important;
  }


} */
