.new-footer-background-div {
  width: 100%;
  padding: 10px;
  margin: auto;
  border: none;
  outline: none;
  background-color: transparent;
}
.show-text-dropdown {
  display: flex;

  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
}

.features-container {
  width: 89%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.feature-texts-new-content {
  text-decoration: none;
  padding-left: 4px;
  padding: 3px;
  font-size: 14px;
}
