.why-sales-optimization-container {
  max-width: 1440px;
  margin: auto;
  margin-top: 80px;
}

.sales-optimize-image {
  display: flex;
  gap: 50px;
  width: 95%;
  margin: auto;
  height: 450px;
}

.sales-optimize-content-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-evenly;
}

.sales-optimize-image-right {
  width: 49%;
  padding: 4%;
}

.salesforce-optimization-heading {
  display: inline-block;
  background: var(--gradientColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.1;
  font-weight: 700;
}

.salesforce-optimization-heading-content {
  font-size: 50px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 70px;
}
.salesforce-optimization-lowercontent {
  font-size: 1.25rem;
  line-height: 150%;
}

.sales-optimize-demo-btn {
  z-index: 1;
  border: none;
  position: relative;
  padding: 8px 27px;
  border-radius: 30px;
  display: inline-block;
  color: var(--whiteColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-box-shadow: 0px 12px 35px rgba(244, 235, 238, 0.25);
  box-shadow: 0px 12px 35px rgba(244, 236, 239, 0.25);
  font-size: var(--fontSize);
  font-weight: 600;
  background-image: linear-gradient(99.01deg, #715cf3 20.98%, #5c99f3 94.62%);
  width: fit-content;
}

/* cards */
.sales-table-body {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/sales-optimize/salesforceoptimizationBg.webp);
}

.card,
.design-ui-header {
  display: flex;
  flex-direction: column;
}

.design-ui-header {
  width: 70%;
  gap: 5px;
  margin: 30px;
}
.so-main-sub-conatainer {
  width: 85%;
  margin: auto;
  display: flex;
  gap: 30px;
  padding: 60px 3px;
}

.so-left-sub-container,
.so-right-sub-container {
  width: 46%;
  margin: 0px auto;
}

.so-card {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* border: 0.1px solid #ccc; */
  border-radius: 10px;
  box-shadow: 0px -1px 0px 0px white;
  background: #ffffff;
}

.sales-optimize-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.so-left-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.so-right-sub-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.so-left-first-part-h1 {
  font-size: 38px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 50px;
  color: white;
}

.so-card-image-top-header {
  height: 300px;
}

/* .so-card-header-image img{
  height: 100%;
} */

.so-bottom-container {
  height: calc (100% - 300px);
  color: #334155;
  font-size: 16px;
}

.so-card-content-heading {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 25px;
}

/* SalesForm  */

.so-form-body {
  display: flex;
  min-height: 250px;
  padding: 80px 5%;
  margin: auto;
  gap: 20px;
  color: white;
  background-image: url(../../images/sales-optimize/salesforceoptimizationBg.webp);
}

.looking-request,
.so-form-subject {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.looking-to-optimize {
  font-size: 46px;
  font-family: "Montserrat";
  line-height: 58px;
  font-weight: 600;
}

.looking-request {
  gap: 20px;
}
.so-form-subject {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.request-a-personalized {
  font-size: 18px;
}

.pr-vacy-so {
  font-size: 12px;
}

.so-company-email {
  position: relative;
}

.so-company-email::before {
  content: "*";
  color: red;
  position: absolute;
  left: -9px;
  top: -2px;
}

.so-default-btn {
  z-index: 1;
  border: none;
  position: relative;
  padding: 8px 27px;
  border-radius: 30px;
  display: inline-block;
  color: #3b0065;
  transition: var(--transition);
  -webkit-box-shadow: 0px 12px 35px rgba(244, 235, 238, 0.25);
  box-shadow: 0px 12px 35px rgba(244, 236, 239, 0.25);
  font-size: var(--fontSize);
  font-weight: 600;
}

.so-email-container-body {
  display: flex;
  flex-direction: column;
}

.so-email-container-body input {
  border-radius: 3px;
  border: none;
  padding: 6px;
  width: 90%;
}

.so-gap-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media (max-width: 750px) {
  .sales-optimize-image {
    flex-direction: column;
    height: auto;
    gap: 5px;
  }

  .why-sales-optimization-container {
    margin-top: 50px;
  }

  .sales-optimize-content-left {
    width: 100%;
    align-items: center;
    gap: 10px;
  }

  .salesforce-optimization-heading-content {
    font-size: 36px;
    line-height: normal;
    text-align: center;
  }
  .salesforce-optimization-lowercontent {
    text-align: center;
    font-size: 15px;
  }
  .sales-optimize-image-right {
    width: auto;
    padding: 4%;
  }

  .sales-optimize-demo-btn {
    padding: 8px 18px;
    font-size: 12px;
  }
  .no-break-rquired {
    display: none;
  }

  .so-main-sub-conatainer {
    flex-direction: column;
  }

  .so-right-sub-container,
  .so-left-sub-container,
  .so-form-subject,
  .looking-request {
    width: 100%;
  }

  .so-form-body {
    flex-direction: column;
  }
  .so-email-container-body input {
    padding: 12px;
  }

  .so-gap-container {
    gap: 18px;
  }

  .so-left-sub-container {
    gap: 30px;
  }
  .so-left-first-part-h1 {
    text-align: center;
    font-size: 21px;
    line-height: normal;
  }
}

/* 3 People with BG */

.sales-optimize-new-background-image {
  background-image: url(../../images/sales-optimize/Salesforce-optiimization-background-circle.png);
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 300px;
  width: 72%;
  margin: auto;
  background-size: 500px;
  height: fit-content;
}

.sales-optimize-new-background-image-subcontainer {
  display: flex;
  flex-direction: column;
  padding-top: 23px;
  gap: 70px;
}

.sales-optimize-new-background-sub-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
}
.sales-optimize-second-sub-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
}
.sales-optimize-indivisuals {
  display: flex;
  gap: 10px;
  min-width: 50%;
  justify-content: center;
  align-items: center;
}
.sales-optimize-indivisual-new {
  display: flex;
  gap: 10px;
  min-width: 50%;
  justify-content: center;
  align-items: center;
}

.sales-optimize-new-background-image-subcontainer:first-of-type {
  width: 100%;
}
.q_a_image {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  border-radius: 0.1px solid #ccc;
}

.q_a_question_content,
.q_a_answer_content,
.q_a_question_content_new {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1px solid #f1efef;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -2px 0px 1px whitesmoke;
  gap: 3px;
  position: absolute;
  background-color: white;
  font-family: "Montserrat";
  font-family: 13px;
}

.q_a_question_content:nth-child(1),
.q_a_answer_content:nth-child(1) {
  right: 95px;
}
.q_a_question_content:nth-child(2),
.q_a_answer_content:nth-child(2) {
  left: 95px;
}
.q_a_image_div {
  border: 0.1px solid #ccc;
  border-radius: 50%;
}

.sales-optimize-indivisuals:nth-child(1) {
  position: relative;
  right: 175px;
}
.sales-optimize-indivisuals:nth-child(2) {
  position: relative;
  left: 175px;
}

.sales-optimize-indivisual-new:nth-child(1) {
  position: relative;
  left: 0;
  bottom: 17px;
}

#sales-optimize-bg {
  color: rgb(223 0 0);
  font-size: 20px;
}

#so-green-fill {
  color: green;
  font-size: 20px;
}
.q_a_question_content_new {
  left: 95px;
  background-color: white;
}

.q_a_question_content {
  font-weight: 600;
}

.q_a_answer_content {
  font-size: 12px;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .q_a_question_content,
  .q_a_answer_content,
  .q_a_question_content_new {
    position: relative;
  }
  .sales-optimize-indivisuals:nth-child(1) {
    right: 0px;
  }
  .sales-optimize-indivisuals:nth-child(2) {
    left: 0px;
  }

  /* .sales-optimize-second-sub-image {
    flex-direction: column;
    justify-content: center;
    gap: 23px;
  } */

  .sales-optimize-second-sub-image {
    flex-direction: column;
    justify-content: center;
    gap: 23px;
    align-items: stretch;

}
  .q_a_question_content:nth-child(1),
  .q_a_answer_content:nth-child(1) {
    right: 0;
  }
  .q_a_question_content:nth-child(2),
  .q_a_answer_content:nth-child(2) {
    left: 0px;
  }

  .sales-optimize-new-background-image {
    background-image: url(../../images/sales-optimize/Salesforce-optiimization-background-circle-mobile.webp);
    background-size: 100%;
    background-position: right;
    width: 98%;
    margin-bottom: 20px;
  }
  .q_a_question_content:nth-child(1),
  .q_a_answer_content:nth-child(1) {
    order: 1;
  }
  .q_a_image_div {
    order: 2;
  }
  .design-ui-header {
    width: 95%;
    margin: 30px 5px;
  }
  .looking-to-optimize {
    font-size: 32px;
    line-height: normal;
  }
  .so-form-body {
    padding: 27px 5%;
  }
  .sales-optimize-new-background-image-subcontainer {
    gap: 0px;
    padding-top: 0px;
  }
}

@media (min-width: 550px) and (max-width: 1023px) {
  .sales-optimize-new-background-image {
    min-height: 450px;
    width: 99%;
    background-size: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .q_a_question_content,
  .q_a_answer_content,
  .q_a_question_content_new {
    width: 80%;
  }
  .sales-optimize-new-background-image-subcontainer {
    gap: 0px;
  }

  .sales-optimize-new-background-sub-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: auto;
  }
  
}
